Package: firewall-iptables
Version: 1.0-1
Architecture: all
Maintainer: Sam Pinkus <sam@localhost>
Installed-Size: 63
Depends: kmod, iptables, lsb-base
Section: util
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Configures a very basic iptables firewall and masq setup, as a service.
 Completely blows away your iptables chains on start, and completely resets them on stop.
